{% load static %}
<!doctype html>

<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
         <title>Galactic Limo's Service in USA</title>
		
		<!-- Favicon -->
        <link rel="icon" width: 10px; height:10px; href="{% static 'img/wlogo.jpeg' %}">
		
		<!-- Google Fonts -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- Nice Select CSS -->
		<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<!-- icofont CSS -->
        <link rel="stylesheet" href="{% static 'css/icofont.css' %}">
		<!-- Slicknav -->
		<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
		<!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
		<!-- Animate CSS -->
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
		<!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		
		<!-- Medipro CSS -->
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
		
    </head>
	<style>
		.textsetting h2{
			 color: white;     
			 font-family: "Oswald";}

			 .p1{
				font-family: "Times New Roman", Times, serif;
				color:white;
			  }
			  .book_button {
				background-color: #04AA6D; /* Green */
				border: none;
				color: white;
				border-radius:10px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				margin: 4px 2px;
				transition-duration: 0.4s;
				cursor: pointer;
			  }
			  
			  .button2 {
			  background-color: #1A76D1;
				
				border: 2px solid #1A76D1;
				
			  }
			  
			  .button2:hover {
			
				background-color: #19234D;
				
			  }
			  .dropdown {
    width: 250px; /* Set your preferred width */
    max-height: 300px; /* Limit the height */
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: #333; /* Background color */
    border-radius: 5px; /* Rounded corners */
    padding: 10px;
}
.dropdown li a {
    color: white; /* Ensure text is visible */
    display: block;
    padding: 8px;
    text-decoration: none;
}

	</style>
    <body>
	
		<!-- Preloader -->
        <div class="preloader" >
            <div class="loader" >
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator" > 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
	
<!-- Header Area -->
				<!-- Header Area -->
<header class="header">
					<!-- Topbar -->
	<div class="topbar" style="background-color: black;">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-5 col-12">
					<!-- Contact -->
					<ul class="top-link">
						<li><a href="#" style="color: white">Call Galactic Limo's on
							</a></li>
						<li><a href="#" style="color: white">+1(888)383-3911</a></li>
					</ul>
					<!-- End Contact -->
				</div>
				<div class="col-lg-6 col-md-7 col-12">
					<!-- Top Contact -->
					<ul class="top-contact">
						<!-- <ul class="social"> -->
						<a href="https://www.facebook.com/profile.php?id=61554648922028"><i
								style="margin-right: 10px; color:white;" class="fab fa-facebook-f"></i></a>


						<a href="https://instagram.com/vipclasslimos?utm_source=qr&igshid=MzNlNGNkZWQ4Mg=="><i
								style="margin-right: 10px; color:white;" class="fab fa-instagram"
								style="color:white;"></i></a>
						<a href="https://x.com/VipClasslimos?t=WXH-5zpcpRGoVEMV5ouYcA&s=09"><i
								style="margin-right: 10px; color:white;" class="fa-brands fa-x-twitter"></i></a>
					</ul>
					<!-- End Top Contact -->
				</div>
			</div>
		</div>
	</div>
	<!-- End Topbar -->
	<!-- Header Inner -->
	<div class="header-inner" style="background-color: #19234D;">
		<div class="container">
			<div class="inner">
				<div class="row">
					<div class="col-lg-2 col-md-3 col-12">
						<!-- Start Logo -->
						<div class="logo">


							<a href=""><img style="width: 80; height:60px;" src="{% static 'img/logo4.png' %}"
									alt="#"></a>
						</div>
						<!-- End Logo -->
						<!-- Mobile Nav -->
						<div class="mobile-nav"></div>
						<!-- End Mobile Nav -->
					</div>
					<div class="col-lg-10 col-md-9 col-12">
						<!-- Main Menu -->
						<div class="main-menu">
							<nav class="navigation">
								<ul class="nav menu">

									<li><a href="index" style="color: white; ">Home</a></li>

									<li><a href="limo-hire-services" style="color: white; ">SERVICES
											<i class="icofont-rounded-down"></i></a>
										<ul class="dropdown">
											<li><a href="limo-hire-services">LIMO HIRE SERVICES</a></li>
											<li><a href="weddingcarhire">WEDDING CARS</a></li>
											<li><a href="PROMLIMO">PROM LIMOS</a></li>
											<li><a href="KIDSLIMOPARTIES">KIDS LIMO PARTIES</a></li>
											<li><a href="SPECIALOCCASIONLIMOHIRE">SPECIAL OCCASION LIMO HIRE</a></li>
											<li><a href="ROYALASCOTLIMOHIRE">ROYAL ASCOT LIMO HIRE</a></li>
											<li><a href="ROYALASCOTLIMOHIRE">High School Dances</a></li>
											<li><a href="ROYALASCOTLIMOHIRE">Night Outs</a></li>
											<li><a href="ROYALASCOTLIMOHIRE">Holiday Light Tours</a></li>
										</ul>
										</a>
									</li>
									<li><a href="fleet" style="color: white; ">FLEET
											<i class="icofont-rounded-down"></i></a>
										<ul class="dropdown">
											<li><a href="fleet">4 SEATS LUXURY SEDAN</a></li>
											<li><a href="fleet">6 SEATS LUXURY SUV</a></li>
											<li><a href="fleet">8 to 10 SEATS LIMO</a></li>
											<li><a href="fleet">13 SEATS SPRINTER VAN</a></li>
											<li><a href="fleet">14 SEATS STARCH LIMO</a></li>
											<li><a href="fleet">20 TO 26 SEATS PARTY BUS</a></li>
											<li><a href="fleet">36 SEATS COACH BUS</a></li>
											<li><a href="fleet">40 SEATS PARTY BUS</a></li>
											<li><a href="fleet">55 SEATS COACH BUS</a></li>
										</ul>
										</a>
									</li>
									<li><a href="reservation" style="color: white; ">RESERVATION</a></li>
									<!-- <li><a href="CONTACT" style="color: white; "  >CONTACT US</a></li> -->
									<li><a href="QUOTES" style="color: white; ">QUOTES</a></li>



									<li><a href="limo-hire-services" style="color: white; ">Area We Serve
									<i class="icofont-rounded-down"></i></a>
									<ul class="dropdown">
											<li><a href="BostonMA">Boston, MA</a></li>
											<li><a href="AtlantaGeorgia">Atlanta Georgia</a></li>
											<li><a href="AlexandriaVA">Alexandria, VA</a></li>
											<li><a href="ArlingtonTexas">Arlington Texas</a></li>
											<li><a href="BaltimoreMD">Baltimore, MD</a></li>
											<li><a href="ChicagoIL">Chicago, IL</a></li>
											<li><a href="DallasTX">Dallas, TX</a></li>
											<li><a href="FortMyersFL">Fort Myers, FL</a></li>
											<li><a href="SanFranciscoCA">San Francisco, CA</a></li>
											<li><a href="SacramentoCA"> Sacramento, CA  </a></li>
											<li><a href="PhoenixAZ"> Phoenix, AZ  </a></li>
											<li><a href="PittsburghPA">  Pittsburgh, PA </a></li>
											<li><a href="PhiladelphiaPA">  Philadelphia, PA </a></li>
											<li><a href="LasVegasNV"> Las Vegas, NV  </a></li>
											<li><a href="LosAngelesCA">Los Angeles, CA   </a></li>
											<li><a href="NewYorkCityNY">New York City, NY   </a></li>
											<li><a href="WashingtonDC"> Washington DC  </a></li>
											<li><a href="MiamiFL">  Miami, FL </a></li>
											<li><a href="CharlotteNC"> Charlotte, NC  </a></li>
											<li><a href="ClevelandOH">  Cleveland, OH </a></li>
											<li><a href="TampaFL">Tampa, FL</a></li>
											<li><a href="HoustonTX">  Houston, TX </a></li>
									</ul>
									</a>
									</li>
									<li><a href="OFFERS" style="color: white; ">OFFERS</a></li>
									<div class="form-group login-btn mt-3">
										<a class="btn" href="reservation" style="color:white;">Book Now</a>
									</div>

								</ul>
							</nav>
						</div>
						<!--/ End Main Menu -->
					</div>

				</div>
			</div>
		</div>
	</div>
					<!--/ End Header Inner -->
</header>
		<!-- End Header Area -->
		
		<!-- Slider Area -->
		<section class="slider">
			<div class="hero-slider">


<!-- Start Single Slider -->
<div class="single-slider" style="height: 800px; background-image: url('{% static 'img\slid\new_slider.jpg' %}')">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="text section-title mt-5">
					<section class="Feautes section">
						<div class="container-fluid">
							<div class="row">
								<div class="col-lg-12">
									<div class="section-title">
										<!-- <h1 class="p1" style="color:white;">We Provide <span>Travel</span> Services That You Can <span>Trust!</span></h1> -->
								</div>
							</div>
							
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Single Slider -->

				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image: url('{% static 'img\slid\chauffeur-service.jpg' %}')">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="text section-title mt-5">
									
									{% comment %} <h2  style="text-align:center;margin-top:180px; color:white;">We Provide <span>Travel</span> Services That You Can <span>Trust!</span></h2> {% endcomment %}

									<section class="Feautes section" style="">
										<div class="container-fluid">
											<div class="row">
												<div class="col-lg-12">
													<div class="section-title">
														<h1 class="p1" style="color:white;">We Provide <span>Travel</span> Services That You Can <span>Trust!</span></h1>
														
														
							
												</div>
											</div>
											
										</div>
									</section>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->


				
				<!-- Start Single Slider -->
				<div class="single-slider " style="background-image: url('{% static 'img\slid\miami.banner4-1-1536x1024.jpg' %}'); height:800px;" >
					

					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h4>We Provide <span>Travel</span> Services That You Can <span>Trust!</span></h1>
									{% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p> {% endcomment %}
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Start End Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('{% static 'img\slid\blackcar-chauffeur-fleets-1.png' %}')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1 style="color:black;">We Provide TravelServices That<span> You Can Trust!</span></h1>
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
								<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('{% static 'img\slid\prom-limos.jpg' %}'); height:800px;">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>We Provide <span>Travel</span> Services That You Can <span>Trust!</span></h1>
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('{% static 'img\slid\gal-8.jpg' %}'); height:800px;">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>We Provide <span>Travel</span> Services That You Can <span>Trust!</span></h1>
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
				{% comment %} <div class="single-slider" style="background-image:url('{% static 'img\slid\hummerslider4.jpg' %}')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>We Provide <span>Travel</span> Services That You Can <span>Trust!</span></h1>
									
									
								</div>
							</div>
						</div>
					</div>
				</div> {% endcomment %}
				<!-- End Single Slider -->								
			</div>
		</section>


		<!-- Start here -->


		<div class="container mt-5" >
			<div class="row">
				
				
				<div class="col-sm-12 col-md-12 col-lg-6 p-3 ">
					<h5>Galactic Limo's service in Boston, MA & surrounding areas</h5>
					<p>Galactic Limousine, where we offer the most luxurious transportation possible for some of the most prestigious events in Boston, Massachusetts. Whether you are here for business or pleasure, our goal is to make your trip unforgettable. We at Galactic Limousine are dedicated to you the best possible service and sophisticated transportation. Book with us right away to enjoy the height of luxury. We can't wait to make your upcoming event one to remember!
					</p>
					<!-- <h5>ENJOYABLE EXPERIENCE</h5>
					<p>We understand that getting around town should be an enjoyable experience. That’s why, our fleet of luxury limos is equipped with everything you need for a night of fun, from music and entertainment to snacks and drinks.</p> -->
				</div>   
				  
				<div class="col-sm-12 col-md-12 col-lg-6 p-3 ">			
					<img src="{% static 'images/suv-stretch-limo.jpg' %}" style="width:500px; height:300px;" alt="Smiley face" >			
				</div> 
			</div>
		</div>
		
		
	<!----------------------------------- Get_quick_quote_setting End --------------------------->
		
	
		
					<!-- <div class="container">   -->
						<div class="container">
						  <div class="row">
							<div class="col-sm-12 col-md-4 col-lg-4 p-3 ">
							  
							<h5 style="color:black;">ART AND CULTURE FESTIVALS</h5>
							<p>Our cars are the ideal way to explore the history and culture of Boston, a city rich in both. We'll make sure you arrive at every event, from the Boston Book Festival to the Boston Arts Festival, in luxury.
							</p>
					
							</div>
							<div class="col-sm-12 col-md-4 col-lg-4 p-3 ">
							  
								<h5 style="color:black;">FENWAY PARK EVENTS</h5>
								<p>
									Let us handle the transportation if you're going to a Red Sox game or a special event at Fenway Park. You can be sure that you'll arrive at the stadium in style thanks to our luxurious and fashionable vehicles.
	</p>
		
				</div>
				<div class="col-sm-12 col-md-4 col-lg-4 p-3 ">
							  
					<h5 style="color:black;">CORPORATE & BUSINESS EVENTS</h5>
					<p>Utilize Galactic Limousine to leave a memorable impact at your upcoming corporate or commercial event. Our experienced drivers will make sure you show up to your conference or meeting with confidence and energy.
					</p>
						</div>
	
	
						<div class="col-sm-12 col-md-4 col-lg-6 p-3 ">
							  
					<img src="{% static 'images/eventca.jpg' %}"  style="width:300px; height:300px;" alt="Smiley face" >			
							
					
						</div>
	
								
						<div class="col-sm-12 col-md-4 col-lg-6 p-3 ">
							  
							<h5 style="color:black;">SEPEICAL WEDDINGS EVENT</h5>
							<p>Utilize Galactic Limousine to make your big day even more unforgettable. Your wedding day memories will have the ideal setting thanks to our opulent automobiles. A limousine driver will arrive on time and make sure everything goes as to plan. Additionally, you won't have to bother about parking or driving. You can trust the experts at Galactic Limo to handle everything!
	
							</p>
	
							<h5>BOSTON MARATHON</h5>
							<p>One of the most eagerly awaited events in the city is the renowned Boston Marathon, and we are honored to be a part of it. You can count on our knowledgeable and experienced drivers to get you to the starting line feeling energized and prepared to run. Our limousine services make it simple to travel in luxury and style to and from the race.
							</p>
								
						
						</div>
	
	
					
				
				
				
					</div>
						</div>
						</div>
						
		


		<!-- start end -->

		
			

		


		
		<!-- Footer Area -->
		<footer id="footer" class="footer " >
			<!-- Footer Top -->
			<div class="footer-top" style="background-color:#000000">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12">
							<div class="single-footer">
								<h2>WE ARE SOCIAL</h2>
								<p style="text-align: justify;">

									Follow us on Facebook and Twitter, or simply read our Blog to keep up-to-date with the latest GALACTIC LIMO'S news, events, offers and competitions. If you like what you see here, why not tell your friends about it by sharing it on your own Facebook, Twitter or Google+ account using the social sharing links below.</p>
								<!-- Social -->
								<ul class="social">
									<a  href="https://www.facebook.com/profile.php?id=61554648922028" ><i style="margin-right: 10px; color:white;" class="fab fa-facebook-f"></i></a>
			 	
									<a  href="https://instagram.com/vipclasslimos?utm_source=qr&igshid=MzNlNGNkZWQ4Mg=="><i style="margin-right: 10px; color:white;" class="fab fa-instagram" style="color:white;"></i></a>	
									<a href="https://x.com/VipClasslimos?t=WXH-5zpcpRGoVEMV5ouYcA&s=09"><i style="margin-right: 10px; color:white;" class="fa-brands fa-x-twitter"></i></a>	  
									
								</ul>
								<!-- End Social -->
							</div>
						</div>
						
						<div class="col-lg-4 col-md-6 col-12">
							<div class="single-footer">
								<h2>CLIENT FEEDBACK</h2>
								<p>Exellent Service!</p>
								<p style="text-align: justify;">Again… Wow do you deliver! As usual, your attention to detail and service is truly exceptional. We'll be back to enjoy your fantastic limos again soon. This is truly an excellent buy.<br>
									----Bernadette Miller</p>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<div class="single-footer">
								<h2>FLEET</h2>
							
								<ul>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>LIMO HIRE FLEET</a></li>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>4-SEAT LUXURY CARS FLEET</a></li>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>8-SEAT STRETCH LIMOS</a></li>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>13-16 SEAT SUPER STRETCH LIMOS</a></li>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>12 to 14 SEAT HUMMER LIMO</a></li>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>10 to 14 SEAT SPRINTER VAN</a></li>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>10 to 36 SEAT PARTY BUSES FLEET</a></li>
									
								</ul>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Footer Top -->
			<!-- Copyright -->
			<div class="copyright" style="background-color:#000000">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<div class="copyright-content">
								<p>© 2023 GALACTIC LIMO'S</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Copyright -->
		</footer>
		<!--/ End Footer Area -->
		
		<!-- jquery Min JS -->
        <script src="{% static 'js/jquery.min.js' %}"></script>

		<!-- jquery Migrate JS -->
		<script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
		<!-- jquery Ui JS -->
		<script src="{% static 'js/jquery-ui.min.js' %}"></script>
		<!-- Easing JS -->
        <script src="{% static 'js/easing.js' %}"></script>
		<!-- Color JS -->
		<script src="{% static 'js/colors.js' %}"></script>
		<!-- Popper JS -->
		<script src="{% static 'js/popper.min.js' %}"></script>
		<!-- Bootstrap Datepicker JS -->
		<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
		<!-- Jquery Nav JS -->
        <script src="{% static 'jjs/jquery.nav.js' %}"></script>
		<!-- Slicknav JS -->
		<script src="{% static 'js/slicknav.min.js' %}"></script>
		<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
		<script src="{% static 'js/niceselect.js' %}"></script>
		<script src="{% static 'js/tilt.jquery.min.js' %}"></script>
		<script src="{% static 'js/owl-carousel.js' %}"></script>
		<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
		<script src="{% static 'js/steller.js' %}"></script>
		<script src="{% static 'js/wow.min.js' %}"></script>
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>

    </body>

	
<script>
	function updateButtonState() {
		var checkbox = document.getElementById('myCheckbox');
		var button = document.getElementById('myButton');
		var helpText = document.getElementById('helpText');
		if (checkbox.checked) {
			button.disabled = false;
			button.classList.remove('disabled');
			button.textContent = 'Submit';
			helpText.style.display = 'none';
			$(button).tooltip('disable');
		} else {
			button.disabled = true;
			button.classList.add('disabled');
			button.textContent = 'Submit';

		}
	}

	document.getElementById('myCheckbox').addEventListener('change', updateButtonState);

	document.getElementById('myButton').addEventListener('click', function(event) {
		var checkbox = document.getElementById('myCheckbox');
		var helpText = document.getElementById('helpText');
		if (!checkbox.checked) {
			event.preventDefault();
			helpText.style.display = 'block';
		}
	});

	// Call the function once to set the initial state based on the checkbox
	updateButtonState();
</script>
</html>