{% load static %}
<!doctype html>

<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
         <title>VIP CLASS LIMO'S</title>
		
		<!-- Favicon -->
        <link rel="icon" width: 10px; height:10px; href="{% static 'img/logo.png' %}">
		
		<!-- Google Fonts -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- Nice Select CSS -->
		<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<!-- icofont CSS -->
        <link rel="stylesheet" href="{% static 'css/icofont.css' %}">
		<!-- Slicknav -->
		<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
		<!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
		<!-- Animate CSS -->
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
		<!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		
		<!-- Medipro CSS -->
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
		
    </head>
	<style>
		

			 .p1{
				font-family: "Times New Roman", Times, serif;
				color:white;
			  }
	</style>
    <body>
	
		<!-- Preloader -->
        <div class="preloader" >
            <div class="loader" >
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator" > 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
		
		
	
		<!-- Header Area -->
		<header class="header" >
			<!-- Topbar -->
			<div class="topbar" style="background-color: black;">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-5 col-12">
							<!-- Contact -->
							<ul class="top-link">
								<li><a href="#" style="color: white">Call VIP CLASS LIMO'S on 
								</a></li>
								<li><a href="#" style="color: white">+1(888)383-3911</a></li>
								
							</ul>
							<!-- End Contact -->
						</div>
						<div class="col-lg-6 col-md-7 col-12">
							<!-- Top Contact -->
							<ul class="top-contact">
								<!-- <ul class="social"> -->
									<a  href="" ><i style="margin-right: 10px; color:white;" class="fab fa-facebook-f"></i></a>
			 	
									
									<a  href=""><i style="margin-right: 10px; color:white;" class="fab fa-instagram" style="color:white;"></i></a>	
									<a href="vip_limo_linkedin"><i style="margin-right: 10px; color:white;" class="fab fa-linkedin" style="color:white;"></i></a>	 
									{% comment %} <li><a href="#"><i class="icofont-twitter" style="color: white"></i></a></li>
									<li><a href="#"><i class="icofont-vimeo" style="color: white"></i></a></li> {% endcomment %}
									
								<!-- </ul> -->
							</ul>
							<!-- End Top Contact -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<!-- Header Inner -->
			<div class="header-inner" style="background-color: #19234D;">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-2 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href=""><img style="hight:100px; width:100px;" src="{% static 'img/logo.png' %}" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav" ></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-10 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu" >
									<nav class="navigation">
										<ul class="nav menu">

										<li class="active"><a href="home" style=" padding:12px; margin:14px; color: white;  ">HOME</a>
												
											</li>
											<li><a href="" style="color: white; "  >SERVICES
												<i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="">LIMO HIRE SERVICES</a></li>
													<li><a href="">WEDDING CARS</a></li>
													<li><a href="">PROM LIMOS</a></li>
													<li><a href="">KIDS LIMO PARTIES</a></li>
													<li><a href="">SPECIAL OCCASION LIMO HIRE</a></li>
													<li><a href="">ROYAL ASCOT LIMO HIRE</a></li>
												</ul>
											</a></li>
											<li><a href="fleet" style="color: white; "  >FLEET
												
												<i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													 <li><a href="fleet">LIMO HIRE FLEET</a></li>
													<li><a href="">4 SEAT LUXURY CARS</a></li>
													<li><a href="">8 SEAT STRETCH LIMOS</a></li>
													<li><a href="">13-16 SEAT STRETCH LIMOS</a></li>
													<li><a href="">16-22 SEAT PARTY BUSES</a></li>
													
												</ul>
											</a></li>


											<li><a href="reservation" style="color: white; "  >RESERVATION</a></li>
											
											 <li><a href="CONTACT" style="color: white; "  >CONTACT US</a></li>
											<li><a href="QUOTES" style="color: white; "  >QUOTES</a></li>
											<li><a href="OFFERS" style="color: white; "  >OFFERS</a></li>


										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
		
		<!-- Slider Area -->
		<section class="slider">
			<div class="hero-slider">
				<!-- Start Single Slider -->
				<div class="single-slider" style="height:350px; background-image: url('{% static 'Fleet/fleetbg.jpeg' %}')">

					{% comment %} " style="background-image: url('{% static 'Fleet/fleetbg.jpeg' %}')"> {% endcomment %}
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									{% comment %} <h3 style="color:blue;" >On your wedding day, nothing but the finest will suffice. Indulge in the opulence of champagne service and the regal red carpet treatment as you ride in a chauffeur-driven luxury wedding car provided by VIP CLASS LIMO'S. Cherish the moment with champagne service and chauffeur-driven elegance.</h3> {% endcomment %}
									{% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p> {% endcomment %}
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="height:350px; background-image: url('{% static 'Fleet/fleetbg.jpeg' %}')">

					{% comment %} " style="background-image: url('{% static 'Fleet/fleetbg.jpeg' %}')"> {% endcomment %}
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									{% comment %} <h3 style="color:blue;" >On your wedding day, nothing but the finest will suffice. Indulge in the opulence of champagne service and the regal red carpet treatment as you ride in a chauffeur-driven luxury wedding car provided by VIP CLASS LIMO'S. Cherish the moment with champagne service and chauffeur-driven elegance.</h3> {% endcomment %}
									{% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p> {% endcomment %}
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				
				<!-- Start End Slider -->
				<!-- Start Single Slider -->
				
				<!-- End Single Slider -->
			</div>
		</section>
		<!--/ End Slider Area -->
		
		

		<!-- Start Feautes -->
		<section class="Feautes section" style="background-color: #222222;">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title mt-5">
							<h4 class="textsetting p1" style="color: white;" >VIP CLASS LIMO'S HIRE: VIP CLASS LIMO'S HAVE PROBABLY<br> THE BEST RANGE OF CHAUFFEUR-DRIVEN LUXURY LIMOS IN THE US</h2><br><br><br>
							
							<h3 class="p1" style="color: white;">VIP CLASS LIMO'S has teamed up with Kent-based Wild Stretch Limos – owners<br> of one of the largest Hummer VIP CLASS LIMO'S hire fleets in the US today!</h3><br><br><br>
							<h4 class="p1" style="color: white;">CALL TO BOOK VIP CLASS LIMO'S HIRE ON <span style="color:white;"> +1(888)383-3911 </span><br> OR FOLLOW US ON FACEBOOK FOR VIP CLASS LIMO'S HIRE OFFERS </h4>
						</div>
					</div>
				</div>
				
			</div>
		</section>
		<!--/ End Feautes -->
		
		
		
	
		
		<!-- Start Blog Area -->
		<section class="blog section" id="blog">
			<div class="container">
				
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static 'Fleet/fleetimg.png' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
							<a class="text-uppercase Detail_heading" style="color:black; margin-bottom: 10px;">MERCEDES SPRINTER VAN</a>
                      <p style=" text-align: left; margin-top: 10px;">
						<i class="fas fa-car" style=" margin-right:15px;"></i><span class="Detail_Setting"> 10-12 Passengers Comfortably</span></p>

                      <p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i><span class="Detail_Setting"> Two large Flat Screen Smart Televisions</span></p>

                      <p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i><span class="Detail_Setting">  WiFi  </span></p>

                      <p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i><span class="Detail_Setting"> 12volt and 120volt plug-ins</span></p>

									<div class="date m-3" style="padding: 10px;"><a href="reservation">Book Now</a></div>
									
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static 'Fleet/LincolnStretchLimo.jpg' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									
										<a class="text-uppercase mb-3 Detail_heading" style="color:black;">LINCOLN STRETCH LIMO</a>
										<p style=" text-align: left; margin-top: 10px;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">10 Passengers </span></p>
										<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">Black Leather Interior</span> </p>
										<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i><span class="Detail_Setting">Heated Seats</span></p>
										<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i><span class="Detail_Setting">DVD Player</span> </p>
										<!-- <p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i>DVD Player</p> -->
										<div class="date m-3" style="padding: 10px;"><a href="reservation">Book Now</a></div>
										<!-- <div class="">Book Now</div> -->
								
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static 'Fleet/BLACK_LINCOLN MKT.png' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<!-- <div class="">05 Jan, 2020</div> -->
									<div class="px-4 pb-4">
										<a class="text-uppercase mb-3 Detail_heading" style="color:black;">BLACK LINCOLN MKT</a>
										
										<p style=" text-align: left; margin-top: 10px;"><i class="fas fa-car" style=" margin-right:15px;"></i><span class="Detail_Setting">3 Passengers  </span>  </p>
										<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting"> Black Leather Interior  </span>  </p>
										<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting"> Heated Seats  </span>  </p>
										<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">  <span class="Detail_Setting"> Professional Sound System </span> </p>
										<div class="date m-3" style="padding: 10px;"><a href="reservation">Book Now</a></div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>


					<!-- start here -->

					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static 'Fleet/LINCOLN_CONTINENTAL_SEDAN.jpg' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<a class="text-uppercase mb-3 Detail_heading"  style="color:black;">LINCOLN CONTINENTAL SEDAN</a>
									<p style=" text-align: left; margin-top: 10px;"><i class="fas fa-car" style=" margin-right:15px;"></i>  <span class="Detail_Setting"> 4 Passengers  </span>  </p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i>  <span class="Detail_Setting"> Black Leather Interior  </span>  </p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i>  <span class="Detail_Setting"> Heated Seats  </span>  </p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i>  <span class="Detail_Setting"> DVD Player  </span>  </p>
				
				  
									<div class="date m-3" style="padding: 10px;"><a href="reservation">Book Now</a></div>
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>

					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static 'Fleet/BLACK_CADILLAC_ SEDAN.jpg' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<a class="text-uppercase mb-3 Detail_heading"  style="color:black;">BLACK CADILLAC SEDAN</a>
									<p style=" text-align: left; margin-top: 10px;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">  4 Passengers   </span> </p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">  Black Leather Interior   </span> </p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">  Heated Seats   </span> </p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">  DVD Player  </span> </p>
									<!-- <p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i>DVD Player</p> -->
								   
									<div class="date m-3" style="padding: 10px;"><a href="reservation">Book Now</a></div>
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>


					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static 'Fleet/MOTOR_COACH.png' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<a class="text-uppercase mb-3 Detail_heading"  style="color:black;">MOTOR COACH</a>
									<p style=" text-align: left; margin-top: 10px;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting"> 55 Passengers </span> </p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">  Black Leather Interior  </span> </p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">  Heated Seats   </span> </p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">  DVD Player</span> </p>
									<div class="date m-3" style="padding: 10px;"><a href="reservation">Book Now</a></div>
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>




					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static 'Fleet/CADILLAC_ ESCALADE_LIMO.png' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<a class="text-uppercase mb-3 Detail_heading"  style="color:black;">CADILLAC ESCALADE LIMO</a>
									<p style=" text-align: left; margin-top: 10px;"><i class="fas fa-car" style=" margin-right:15px;"></i>  <span class="Detail_Setting"> CAN hold up to 18 Passengers  </span> </p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">Luxury Leather Interior</span> </p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting"> Disco Lights </span> </p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting"> Mini Bar  </span>   </span>  </p>
									<div class="date m-3" style="padding: 10px;"><a href="reservation">Book Now</a></div>
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>


					
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static 'Fleet/MERCEDES_SPRINTER_EXECUTIVE_VAN.png' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<a class="text-uppercase mb-3 Detail_heading"  style="color:black;">MERCEDES SPRINTER EXECUTIVE VAN</a>
									<p style=" text-align: left; margin-top: 10px;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting"> 14 Passengers  </span></p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting"> 14 bags  </span></p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting"> Heated Seats  </span> </p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting"> Combatable leather Seating </span> </p>
									<div class="date m-3" style="padding: 10px;"><a href="reservation">Book Now</a></div>
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>
					

					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static 'Fleet/HUMMERLIMO.png' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<a class="text-uppercase mb-3 Detail_heading"  style="color:black;">HUMMER LIMO</a>
									<p style=" text-align: left; margin-top: 10px;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting"> 18 Passengers </span></p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting"> Black Leather Interior  </span></p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting"> Heated Seats  </span> </p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting"> DVD Player  </span> </p>
									<div class="date m-3" style="padding: 10px;"><a href="reservation">Book Now</a></div>
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>


					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static 'Fleet/BLACK_MKT_ LIMO.png' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<a class="text-uppercase mb-3 Detail_heading"  style="color:black;">BLACK MKT LIMO</a>
									<p style=" text-align: left; margin-top: 10px;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">8 to 10 Passengers</span></p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting"> Black exterior/dark interior </span></p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">Leather seating  </span> </p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting"> Bluetooth Player /AUX cable available </span> </p>
									<div class="date m-3" style="padding: 10px;"><a href="reservation">Book Now</a></div>
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>


					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static 'Fleet/EXECUTIVEMINIBUS.png' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<a class="text-uppercase mb-3 Detail_heading"  style="color:black;">EXECUTIVE MINIBUS</a>
									<p style=" text-align: left; margin-top: 10px;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">34 Passengers</span></p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">Black Leather Interior</span></p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">Heated Seats</span> </p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">DVD Player</span> </p>
									<div class="date m-3" style="padding: 10px;"><a href="reservation">Book Now</a></div>
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>

					
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static 'Fleet/PARTY_BUS.jpg' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<a class="text-uppercase mb-3 Detail_heading"  style="color:black;">Party Bus</a>
									<p style=" text-align: left; margin-top: 10px;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">40 Passengers</span></p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">Black Leather Interior</span></p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">Heated Seats</span> </p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">DVD Player</span> </p>
									<div class="date m-3" style="padding: 10px;"><a href="reservation">Book Now</a></div>
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>


					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static 'Fleet/30PASSENGErMINIBUS.jpg' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<a class="text-uppercase mb-3 Detail_heading"  style="color:black;">30 PASSENGER MINI BUS</a>
									<p style=" text-align: left; margin-top: 10px;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">30 Passengers</span></p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">Black Leather Interior</span></p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">Heated Seats</span> </p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">DVD Player</span> </p>
									<div class="date m-3" style="padding: 10px;"><a href="reservation">Book Now</a></div>
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>


					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static 'Fleet/FordPartyBusLimo.jpg' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<a class="text-uppercase mb-3 Detail_heading"  style="color:black;">FORD PARTY BUS LIMO</a>
									<p style=" text-align: left; margin-top: 10px;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">20 Passengers</span></p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">Black Leather Interior</span></p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">Heated Seats</span> </p>
									<p style=" text-align: left;"><i class="fas fa-car" style=" margin-right:15px;"></i> <span class="Detail_Setting">DVD Player</span> </p>
									<div class="date m-3" style="padding: 10px;"><a href="reservation">Book Now</a></div>
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>


				


				</div>
			</div>
		</section>
		<!-- End Blog Area -->
		
		
	
		


		
		<!-- /End Newsletter Area -->
		
		<!-- Footer Area -->
		<footer id="footer" class="footer " >
			<!-- Footer Top -->
			<div class="footer-top" style="background-color:#000000">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12">
							<div class="single-footer">
								<h2>WE ARE SOCIAL</h2>
								<p style="text-align: justify;">

									Follow us on Facebook and Twitter, or simply read our Blog to keep up-to-date with the latest VIP CLASS LIMO'S news, events, offers and competitions. If you like what you see here, why not tell your friends about it by sharing it on your own Facebook, Twitter or Google+ account using the social sharing links below.</p>
								<!-- Social -->
								<ul class="social">
									<a  href="" ><i style="margin-right: 10px; color:white;" class="fab fa-facebook-f"></i></a>
			 	
									<a  href=""><i style="margin-right: 10px; color:white;" class="fab fa-instagram" style="color:white;"></i></a>	
									<a href=""><i style="margin-right: 10px; color:white;" class="fab fa-linkedin" style="color:white;"></i></a>	  
									
								</ul>
								<!-- End Social -->
							</div>
						</div>
						
						<div class="col-lg-4 col-md-6 col-12">
							<div class="single-footer">
								<h2>CLIENT FEEDBACK</h2>
								<p>Exellent Service!</p>
								<p style="text-align: justify;">Again… Wow do you deliver! As usual, your attention to detail and service is truly exceptional. We'll be back to enjoy your fantastic limos again soon. This is truly an excellent buy.<br>
									----Bernadette Miller</p>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<div class="single-footer">
								<h2>FLEET</h2>
							
								<ul>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>LIMO HIRE FLEET</a></li>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>4-SEAT LUXURY CARS FLEET</a></li>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>8-SEAT STRETCH LIMOS</a></li>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>13-16 SEAT SUPER STRETCH LIMOS</a></li>
									
								</ul>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Footer Top -->
			<!-- Copyright -->
			<div class="copyright" style="background-color:#000000">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<div class="copyright-content">
								<p>© 2023 VIP CLASS LIMO'S</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Copyright -->
		</footer>
		<!--/ End Footer Area -->
		
		<!-- jquery Min JS -->
        <script src="{% static 'js/jquery.min.js' %}"></script>

		<!-- jquery Migrate JS -->
		<script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
		<!-- jquery Ui JS -->
		<script src="{% static 'js/jquery-ui.min.js' %}"></script>
		<!-- Easing JS -->
        <script src="{% static 'js/easing.js' %}"></script>
		<!-- Color JS -->
		<script src="{% static 'js/colors.js' %}"></script>
		<!-- Popper JS -->
		<script src="{% static 'js/popper.min.js' %}"></script>
		<!-- Bootstrap Datepicker JS -->
		<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
		<!-- Jquery Nav JS -->
        <script src="{% static 'jjs/jquery.nav.js' %}"></script>
		<!-- Slicknav JS -->
		<script src="{% static 'js/slicknav.min.js' %}"></script>
		<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
		<script src="{% static 'js/niceselect.js' %}"></script>
		<script src="{% static 'js/tilt.jquery.min.js' %}"></script>
		<script src="{% static 'js/owl-carousel.js' %}"></script>
		<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
		<script src="{% static 'js/steller.js' %}"></script>
		<script src="{% static 'js/wow.min.js' %}"></script>
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>

    </body>
</html>