<!doctype html>
  {% load static %}
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
         <title>VIP CLASS LIMO'S</title>
		
		<!-- Favicon -->
        <link rel="icon" width: 10px; height:10px; href="{% static 'img/wlogo.jpeg' %}">
		
		<!-- Google Fonts -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- Nice Select CSS -->
		<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<!-- icofont CSS -->
        <link rel="stylesheet" href="{% static 'css/icofont.css' %}">
		<!-- Slicknav -->
		<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
		<!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
		<!-- Animate CSS -->
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
		<!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		
		<!-- Medipro CSS -->
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
		
    </head>
	<style>
		.textsetting h2{
			 style="color: white;     
			 font-family: "Oswald";}

			 .p1{
				font-family: "Times New Roman", Times, serif;
				color:white;
			  }
			  .book_button {
				background-color: #04AA6D; /* Green */
				border: none;
				color: white;
				border-radius:10px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				margin: 4px 2px;
				transition-duration: 0.4s;
				cursor: pointer;
			  }
			  
			  .button2 {
			  background-color: #1A76D1;
				
				border: 2px solid #1A76D1;
				
			  }
			  
			  .button2:hover {
			
				background-color: #19234D;
				
			  }
	</style>
    <body>
	
		<!-- Preloader -->
        <div class="preloader" >
            <div class="loader" >
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator" > 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
		
		
	
		<!-- Header Area -->
				<!-- Header Area -->
				<header class="header" >
					<!-- Topbar -->
					<div class="topbar" style="background-color: black;">
						<div class="container">
							<div class="row">
								<div class="col-lg-6 col-md-5 col-12">
									<!-- Contact -->
									<ul class="top-link">
										<li><a href="#" style="color: white">Call VIP CLASS LIMO'S on 
										</a></li>
										<li><a href="#" style="color: white">+1(888)383-3911</a></li>
										
									</ul>
									<!-- End Contact -->
								</div>
								<div class="col-lg-6 col-md-7 col-12">
									<!-- Top Contact -->
									<ul class="top-contact">
										<!-- <ul class="social"> -->
											<a  href="" ><i style="margin-right: 10px; color:white;" class="fab fa-facebook-f"></i></a>
						 
											
											<a  href=""><i style="margin-right: 10px; color:white;" class="fab fa-instagram" style="color:white;"></i></a>	
											<a href="vip_limo_linkedin"><i style="margin-right: 10px; color:white;" class="fab fa-linkedin" style="color:white;"></i></a>	 
											{% comment %} <li><a href="#"><i class="icofont-twitter" style="color: white"></i></a></li>
											<li><a href="#"><i class="icofont-vimeo" style="color: white"></i></a></li> {% endcomment %}
											
										<!-- </ul> -->
									</ul>
									<!-- End Top Contact -->
								</div>
							</div>
						</div>
					</div>
					<!-- End Topbar -->
					<!-- Header Inner -->
					<div class="header-inner" style="background-color: #19234D;">
						<div class="container">
							<div class="inner">
								<div class="row">
									<div class="col-lg-2 col-md-3 col-12">
										<!-- Start Logo -->
										<div class="logo">
											{% comment %} <a href=""><img style="" src="{% static 'Fleet/logo.png' %}" alt="#"></a> {% endcomment %}
		
											<a href=""><img style="height:100px;" src="{% static 'img/logo.png' %}" alt="#"></a>
										</div>
										<!-- End Logo -->
										<!-- Mobile Nav -->
										<div class="mobile-nav" ></div>
										<!-- End Mobile Nav -->
									</div>
									<div class="col-lg-10 col-md-9 col-12">
										<!-- Main Menu -->
										<div class="main-menu" >
											<nav class="navigation">
												<ul class="nav menu">
		
												<li class="active"><a href="home" style=" padding:12px; margin:14px; color: white;  ">HOME</a>
														
													</li>
													<li><a href="limo-hire-services" style="color: white; "  >SERVICES
														<i class="icofont-rounded-down"></i></a>
														<ul class="dropdown">
															<li><a href="limo-hire-services">LIMO HIRE SERVICES</a></li>
															<li><a href="weddingcarhire">WEDDING CARS</a></li>
															<li><a href="PROMLIMO">PROM LIMOS</a></li>
															<li><a href="KIDSLIMOPARTIES">KIDS LIMO PARTIES</a></li>
															<li><a href="SPECIALOCCASIONLIMOHIRE">SPECIAL OCCASION LIMO HIRE</a></li>
															<li><a href="ROYALASCOTLIMOHIRE">ROYAL ASCOT LIMO HIRE</a></li>
															<li><a href="ROYALASCOTLIMOHIRE">High School Dances</a></li>
															<li><a href="ROYALASCOTLIMOHIRE">Night Outs</a></li>
															<li><a href="ROYALASCOTLIMOHIRE">Holiday Light Tours</a></li>
															

														</ul>
													</a></li>
													<li><a href="fleet" style="color: white; "  >FLEET
														
														<i class="icofont-rounded-down"></i></a>
														<ul class="dropdown">
															 <li><a href="fleet">LIMO HIRE FLEET</a></li>
															<li><a href="">4 SEAT LUXURY CARS</a></li>
															<li><a href="">8 SEAT STRETCH LIMOS</a></li>
															<li><a href="">13-16 SEAT STRETCH LIMOS</a></li>
															<li><a href="">16-22 SEAT PARTY BUSES</a></li>
															
														</ul>
													</a></li>
		
		
												
													<li><a href="reservation" style="color: white; "  >RESERVATION</a></li>
													 <li><a href="CONTACT" style="color: white; "  >CONTACT US</a></li>
													<li><a href="QUOTES" style="color: white; "  >QUOTES</a></li>
													<li><a href="OFFERS" style="color: white; "  >OFFERS</a></li>
													<div class="form-group login-btn mt-3">
														<a class="btn" 
														href="reservation" style="color:white;"
														>Book Now</a>
													</div>
		
												</ul>
											</nav>
										</div>
										<!--/ End Main Menu -->
									</div>
									
								</div>
							</div>
						</div>
					</div>
					<!--/ End Header Inner -->
				</header>
		<!-- End Header Area -->
		
		<!-- Slider Area -->
		<section class="slider">
			<div class="hero-slider">
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image: url('{% static 'img\slid\chauffeur-service.jpg' %}')">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="text">
									
									<h4 style="text-align:center;margin-top:180px;">We Provide <span>Travel</span> Services That You Can <span>Trust!</span></h1>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image: url('{% static 'img\slid\miami.banner4-1-1536x1024.jpg' %}')">
					

					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h4>We Provide <span>Travel</span> Services That You Can <span>Trust!</span></h1>
									{% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p> {% endcomment %}
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Start End Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('{% static 'img\slid\blackcar-chauffeur-fleets-1.png' %}')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1 style="color:black;">We Provide TravelServices That<span> You Can Trust!</span></h1>
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
								<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('{% static 'img\slid\prom-limos.jpg' %}')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>We Provide <span>Travel</span> Services That You Can <span>Trust!</span></h1>
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('{% static 'img\slid\gal-8.jpg' %}')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>We Provide <span>Travel</span> Services That You Can <span>Trust!</span></h1>
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
				{% comment %} <div class="single-slider" style="background-image:url('{% static 'img\slid\hummerslider4.jpg' %}')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>We Provide <span>Travel</span> Services That You Can <span>Trust!</span></h1>
									
									
								</div>
							</div>
						</div>
					</div>
				</div> {% endcomment %}
				<!-- End Single Slider -->								

			</div>
		</section>
		<!--/ End Slider Area -->
		
				<!-- Get Quick Quote -->


				
		<!-- Start Contact Us -->
		<section class="contact-us section">
			<div class="container">
				<div class="inner">
					<div class="row"> 
						<div class="col-lg-12">
							<div class="contact-us-form">
								<h4 style="text-align: center; color:black;">Get Quick Quote
								</h4>
								
								<!-- Form -->
								<form class="form" action="Get_Quick_Quote"  method = 'POST'>
									{% csrf_token %}
									<div class="row">
										<div class="col-lg-3">
											<div class="form-group">
												<input type="text" name="Name" placeholder="Name" required="">
											</div>
										</div>
										<div class="col-lg-3">
											<div class="form-group">
												<input type="email" name="email" placeholder="Email*" required="">
											</div>
										</div>
										<div class="col-lg-3">
											<div class="form-group">
												<input type="text" name="Phone" placeholder="Phone" required="">
											</div>
										</div>
										<div class="col-lg-3">
											<div class="form-group">
												<input type="text" name="Pick_Location" placeholder="Pick Location" required="">
											</div>
										</div>
										<div class="col-lg-3">
											<div class="form-group">
												<input type="text" name="Drop_Location" placeholder="Drop Location" required="">
											</div>
										</div>
										<div class="col-lg-3">
											<div class="form-group">
												<input type="text" name="Select_Vehicle" placeholder="Select Vehicle" required="">
											</div>
										</div>
										<div class="col-lg-3">
											<div class="form-group">
												<input type="text" name="No_of_Passengers" placeholder="No of Passangers" required="">
											</div>
										</div>
										<div class="col-lg-3">
											<div class="form-group">
												<input type="text" name="No_of_Hours" placeholder="No of Hours" required="">
											</div>
										</div>
										<div class="col-lg-3">
											<div class="form-group">
												<input type="text" name="Trip_Type" placeholder="Trip Type" required="">
											</div>
										</div>
										<div class="col-lg-3">
											<div class="form-group">
												<input type="text" name="Pickup_Date" placeholder="Pick-Up Date" required="">
											</div>
										</div>
										<div class="col-lg-3">
											<div class="form-group">
												<input type="text" name="Pickup_Time" placeholder="Pick-Up Time" required="">
											</div>
										</div>
										<div class="col-lg-3">
										
											<div class="form-group login-btn">
												<button class="btn" type="submit">Send</button>
											</div>
										</div>
										

										
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
					
				</div>
			</div>
		</section>
		

		<!-- Start Feautes -->
		<section class="Feautes section" style="background-color: #222222;">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title mt-5">
							<h4 class="textsetting p1" style="color: white;" >VIP CLASS LIMO'S HIRE: VIP CLASS LIMO'S HAVE PROBABLY<br> THE BEST RANGE OF CHAUFFEUR-DRIVEN LUXURY LIMOS IN THE US</h2><br><br><br>
							
							<h3 class="p1" style="color: white;">VIP CLASS LIMO'S has teamed up with Kent-based Wild Stretch Limos – owners<br> of one of the largest Hummer VIP CLASS LIMO'S hire fleets in the US today!</h3><br><br><br>
							<h4 class="p1" style="color: white;">CALL TO BOOK VIP CLASS LIMO'S HIRE ON <span style="color:white;"> +1(888)383-3911 </span><br> OR FOLLOW US ON FACEBOOK FOR VIP CLASS LIMO'S HIRE OFFERS </h4>
						</div>
					</div>
				</div>
				
			</div>
		</section>
		<!--/ End Feautes -->



		<!-- Start Blog Area -->
		<section class="blog section" id="blog" style="background-color: #222222;">
			<div class="container">
				
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news" >
							<div class="news-head" >
								<img src="https://hips.hearstapps.com/autoweek/assets/s3fs-public/161492_Volvo_XC90_Excellence_Lounge_Console.jpg"  alt="#">
							</div>
							<div class="news-body" >
								<div class="news-content" style="background-color: #222222;">
									
									<h2><a href="" style="color: #223194;" >4-SEAT LUXURY CAR HIRE</a></h2>
									<p class="text" style="color: white; text-align: justify;" >VIP CLASS LIMO'S offers a distinguished fleet of luxury vehicles for chauffeur-driven hire, featuring the exquisite Rolls Royce Phantom and Rolls Royce Ghost, representing the epitome of opulence. Additionally, our elegant Bentley Flying Spur and stylish Bentley Mulsanne are highly sought after by our discerning clientele, catering to a wide range of occasions, whether they be business-related or for leisurely pursuits.</p><br>
									{% comment %} <div class="date">22 Aug, 2020</div> {% endcomment %}
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static 'img/luxury1.gif' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content" style="background-color: #222222;">
									
									<h2><a  style="color: #223194;" >8-SEAT VIP CLASS LIMO'S HIRE</a></h2>
									<p class="text" style="color: white; text-align: justify;">Our renowned Chrysler 300C limousine offers opulent seating for up to eight passengers, boasting plush J-style upholstery, a well-appointed wet bar, integrated TV monitors, a premium sound system, and captivating lighting enhancements. Alternatively, our elegant 8-passenger Lincoln Town Car limousine is available in a selection of colors, including white, black, or pink, for a sophisticated travel experience.</p><br>
									{% comment %} <div class="date">05 Jan, 2020</div> {% endcomment %}
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static 'img/hummer2.jpg' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content" style="background-color: #222222;">
									
									<h2><a  style="color: #223194;" >13-16 SEAT STRETCH LIMOS</a></h2>
									<p class="text" style="color: white; text-align: justify;">The pinnacle of the VIP CLASS LIMO'S Hire fleet is the 16-seat Hummer H2, a highly coveted choice for extravagant celebrations. Accommodating up to 13 passengers, our Ford Excursion SUV Limo also offers opulent amenities. Both vehicles are meticulously equipped, ensuring an unparalleled and luxurious VIP CLASS LIMO'S Hire experience.</p><br>
									{% comment %} <div class="date">05 Jan, 2020</div> {% endcomment %}
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>

					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static 'img/luxury3.gif' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content" style="background-color: #222222;">
									
									<h2><a  style="color: #223194;" >16-22 SEAT PARTY BUS HIRE</a></h2>
									<p class="text" style="color: white;   text-align: justify;">VIP CLASS LIMO'S offers state-of-the-art party buses with spacious interiors, cutting-edge multimedia capabilities, premium sound systems, dynamic special effect lighting, and more. These fully-equipped party buses are the ideal choice for group transportation during special occasions, such as prom nights and sporting events, ensuring a memorable and immersive experience.</p><br>
									{% comment %} <div class="date">05 Jan, 2020</div> {% endcomment %}
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>
				</div>
			</div>
		</section>
		<!-- End Blog Area -->
		
		<!-- Start clients -->

		<!--/Ens clients -->
		
		<!-- Start Appointment -->
		<section class="appointment">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2 class="p1">"We are fully prepared to assist you.<br> Please schedule an appointment at your convenience."</h2>
							
							{% comment %} <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p> {% endcomment %}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-12 col-12">
						<p style="text-align: justify;">
							VIP CLASS LIMO proudly stands as the leading provider of top-tier limousine services in the United States,
							 meticulously tailored to meet the discerning standards of our esteemed clientele. Our unwavering 
							 dedication is to deliver a transportation experience that epitomizes opulence and sophistication, 
							 transforming every journey into a testament of luxury. Whether it's a memorable prom night, 
							 an exciting sporting event, an evening at the casino, or a cherished wedding day,
							"VIP CLASS LIMO" is wholly committed to making transportation an integral part of your special occasion.
							 Your safety and comfort are our utmost priorities. We have thoughtfully crafted our services to 
							 scfprovide you with absolute peace of mind during your travels. Our chauffeurs, renowned for their expertise, are more than just drivers; they are trusted professionals who comprehend the importance of your event and consistently strive to surpass your expectations. When you choose "VIP CLASS," you are selecting the epitome of luxury. With our well-maintained fleet and an unwavering commitment to delivering flawless service, we ensure your journey is characterized by elegance, comfort, and punctuality. 
							Opt for "VIP CLASS LIMO" and immerse yourself in the highest echelons of luxury transportation.			
							.</p>
					</div>
					<div class="col-lg-6 col-md-12 ">
						<div class="appointment-image">
							<img src="{% static 'img/aboutcompany1.jpg' %}" alt="#">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Appointment -->
		
		<section class="blog section mt-2" id="blog" style="background-color: #222222;">
			<div class="container">
				
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news" >
							<div class="news-head" >
								<img src="{% static 'img/WEDDING_CAR_ HIRE.jpg' %}" style="height:350px;" alt="#">
							</div>
							<div class="news-body" >
								<div class="news-content" style="background-color: #222222;">
									
									<h2><a href="" style="color: #223194;" >WEDDING CAR HIRE</a></h2>
									<p class="text" style="color: white; text-align: justify;" >We offer an exquisite fleet of luxury chauffeured wedding cars, accompanied by a selection of 8 to 16-passenger limousines designed to complement a diverse range of wedding styles, spanning from modern to traditional themes.</p><br>
									{% comment %} <div class="date">22 Aug, 2020</div> {% endcomment %}
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="https://uk-limos.com/wp-content/uploads/2013/08/Prom-Limo340.jpg" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content" style="background-color: #222222;">
									
									<h2><a  style="color: #223194;" >SCHOOL PROM LIMO HIRE</a></h2>
									<p class="text" style="color: white; text-align: justify;">If you seek an exceptional and unforgettable means to commemorate your school prom or graduation, your search ends with a chauffeur-driven limousine from VIP CLASS LIMO'S.</p><br>
									{% comment %} <div class="date">05 Jan, 2020</div> {% endcomment %}
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static 'img/SPECIAL_OCCASION LIMO_ HIRE.jpg' %}" style="height:350px;" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content" style="background-color: #222222;">
									
									<h2><a  style="color: #223194;" >SPECIAL OCCASION LIMO HIRE</a></h2>
									<p class="text" style="color: white; text-align: justify;">Irrespective of the occasion, be it birthdays, anniversaries, or any other special event, the chauffeur-driven luxury cars and stretch limousines provided by VIP CLASS LIMO'S will surpass your every travel expectation.</p><br>
									{% comment %} <div class="date">05 Jan, 2020</div> {% endcomment %}
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>

					
				</div>
			</div>
		</section>
		<!-- End Appointment -->
		<section class="appointment">
			<div class="container">
				
				<div class="row">
					<div class="col-lg-6 col-md-12 col-12">
						<img src="{% static 'img/vipclassiclimo.jpg' %}" style="height:450px;" alt="VIP Class Limo">
						
					</div>
					<div class="col-lg-6 col-md-12 ">
						<div class="appointment-image">
							
							<p style="text-align: justify;">VIP CLASS LIMO'S sets the standard for chauffeur-driven limousines, party buses, and luxury car hire, catering to both business and leisure needs. Our meticulously maintained fleet is a testament to our commitment to excellence, but what truly sets us apart is the exceptional professionalism of our chauffeurs. These drivers are not only skilled but attuned to the needs of passengers, ensuring a safe, enjoyable, and unobtrusive experience. From stress-free airport transfers to corporate events, there are countless occasions when our services offer a more convenient and enjoyable alternative to traditional transportation. Whether it's a wedding, prom, birthday party, wine tours,Bachelor party, business meeting, or any moment where style and sophistication are desired, VIP CLASS LIMO'S promises a memorable journey.</p>
						</div>
					</div>
				</div>
			</div>
		<!-- Start Newsletter Area -->


		
		<!-- /End Newsletter Area -->
		
		<!-- Footer Area -->
		<footer id="footer" class="footer " >
			<!-- Footer Top -->
			<div class="footer-top" style="background-color:#000000">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12">
							<div class="single-footer">
								<h2>WE ARE SOCIAL</h2>
								<p style="text-align: justify;">

									Follow us on Facebook and Twitter, or simply read our Blog to keep up-to-date with the latest VIP CLASS LIMO'S news, events, offers and competitions. If you like what you see here, why not tell your friends about it by sharing it on your own Facebook, Twitter or Google+ account using the social sharing links below.</p>
								<!-- Social -->
								<ul class="social">
									<a  href="" ><i style="margin-right: 10px; color:white;" class="fab fa-facebook-f"></i></a>
			 	
									<a  href=""><i style="margin-right: 10px; color:white;" class="fab fa-instagram" style="color:white;"></i></a>	
									<a href=""><i style="margin-right: 10px; color:white;" class="fab fa-linkedin" style="color:white;"></i></a>	  
									
								</ul>
								<!-- End Social -->
							</div>
						</div>
						
						<div class="col-lg-4 col-md-6 col-12">
							<div class="single-footer">
								<h2>CLIENT FEEDBACK</h2>
								<p>Exellent Service!</p>
								<p style="text-align: justify;">Again… Wow do you deliver! As usual, your attention to detail and service is truly exceptional. We'll be back to enjoy your fantastic limos again soon. This is truly an excellent buy.<br>
									----Bernadette Miller</p>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<div class="single-footer">
								<h2>FLEET</h2>
							
								<ul>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>LIMO HIRE FLEET</a></li>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>4-SEAT LUXURY CARS FLEET</a></li>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>8-SEAT STRETCH LIMOS</a></li>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>13-16 SEAT SUPER STRETCH LIMOS</a></li>
									
								</ul>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Footer Top -->
			<!-- Copyright -->
			<div class="copyright" style="background-color:#000000">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<div class="copyright-content">
								<p>© 2023 VIP CLASS LIMO'S</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Copyright -->
		</footer>
		<!--/ End Footer Area -->
		
		<!-- jquery Min JS -->
        <script src="{% static 'js/jquery.min.js' %}"></script>

		<!-- jquery Migrate JS -->
		<script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
		<!-- jquery Ui JS -->
		<script src="{% static 'js/jquery-ui.min.js' %}"></script>
		<!-- Easing JS -->
        <script src="{% static 'js/easing.js' %}"></script>
		<!-- Color JS -->
		<script src="{% static 'js/colors.js' %}"></script>
		<!-- Popper JS -->
		<script src="{% static 'js/popper.min.js' %}"></script>
		<!-- Bootstrap Datepicker JS -->
		<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
		<!-- Jquery Nav JS -->
        <script src="{% static 'jjs/jquery.nav.js' %}"></script>
		<!-- Slicknav JS -->
		<script src="{% static 'js/slicknav.min.js' %}"></script>
		<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
		<script src="{% static 'js/niceselect.js' %}"></script>
		<script src="{% static 'js/tilt.jquery.min.js' %}"></script>
		<script src="{% static 'js/owl-carousel.js' %}"></script>
		<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
		<script src="{% static 'js/steller.js' %}"></script>
		<script src="{% static 'js/wow.min.js' %}"></script>
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>

    </body>
</html>