
<!doctype html>
  {% load static %}
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
		<title>VIP CLASS LIMO'S</title>
		
		<!-- Favicon -->
         <link rel="icon" width: 10px; height:10px; href="{% static 'img/logo.png' %}">
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
		
		<!-- Google Fonts -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- Nice Select CSS -->
		<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<!-- icofont CSS -->
        <link rel="stylesheet" href="{% static 'css/icofont.css' %}">
		<!-- Slicknav -->
		<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
		<!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
		<!-- Animate CSS -->
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
		<!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		
		<!-- Medipro CSS -->
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

	    <style>
			.newss{
				position: relative;
				display: inline-block;
				overflow: hidden;
				border: 8px solid transparent; /* Add a transparent border */
				border-radius: 50%; /* Make the element circular */
				transition: border-color 0.3s; /* Add a transition effect for smooth color change */
				width: 75%;
				
			}
	
			.newss img {
				max-width: 100%;
				height: auto;
				display: block;
				height: 290px;
			}
	
			.newss:hover {
				border-color: black transparent; /* Change border color when hovering */
			}
			.p1{
				font-family: "Times New Roman", Times, serif;
				color:white;
			  }
		</style>	
		
    </head>
    <body>
	
		<!-- Preloader -->
        <div class="preloader" >
            <div class="loader" >
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator" > 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
		
		
<!-- Header Area -->
				<!-- Header Area -->
				<header class="header" >
					<!-- Topbar -->
					<div class="topbar" style="background-color: black;">
						<div class="container">
							<div class="row">
								<div class="col-lg-6 col-md-5 col-12">
									<!-- Contact -->
									<ul class="top-link">
										<li><a href="#" style="color: white">Call VIP CLASS LIMO'S on 
										</a></li>
										<li><a href="#" style="color: white">+1(102)382-4631</a></li>
										
									</ul>
									<!-- End Contact -->
								</div>
								<div class="col-lg-6 col-md-7 col-12">
									<!-- Top Contact -->
									<ul class="top-contact">
										<!-- <ul class="social"> -->
											<a  href="https://www.facebook.com/profile.php?id=61554648922028" ><i style="margin-right: 10px; color:white;" class="fab fa-facebook-f"></i></a>
						 
											
											<a  href="https://instagram.com/vipclasslimos?utm_source=qr&igshid=MzNlNGNkZWQ4Mg=="><i style="margin-right: 10px; color:white;" class="fab fa-instagram" style="color:white;"></i></a>	
											<a href="https://x.com/VipClasslimos?t=WXH-5zpcpRGoVEMV5ouYcA&s=09"><i style="margin-right: 10px; color:white;" class="fa-brands fa-x-twitter"></i></a>	 
										</ul>
									<!-- End Top Contact -->
								</div>
							</div>
						</div>
					</div>
					<!-- End Topbar -->
					<!-- Header Inner -->
					<div class="header-inner" style="background-color: #19234D;">
						<div class="container">
							<div class="inner">
								<div class="row">
									<div class="col-lg-2 col-md-3 col-12">
										<!-- Start Logo -->
										<div class="logo">
											{% comment %} <a href=""><img style="" src="{% static 'Fleet/logo.png' %}" alt="#"></a> {% endcomment %}
		
											<a href=""><img style="height:100px;" src="{% static 'img/logo.png' %}" alt="#"></a>
										</div>
										<!-- End Logo -->
										<!-- Mobile Nav -->
										<div class="mobile-nav" ></div>
										<!-- End Mobile Nav -->
									</div>
									<div class="col-lg-10 col-md-9 col-12">
										<!-- Main Menu -->
										<div class="main-menu" >
											<nav class="navigation">
												<ul class="nav menu">
		
											<li><a href="index" style="color: white; "  >Home</a></li>
													<li><a href="limo-hire-services" style="color: white; "  >SERVICES
														<i class="icofont-rounded-down"></i></a>
														<ul class="dropdown">
															<li><a href="limo-hire-services">LIMO HIRE SERVICES</a></li>
															<li><a href="weddingcarhire">WEDDING CARS</a></li>
															<li><a href="PROMLIMO">PROM LIMOS</a></li>
															<li><a href="KIDSLIMOPARTIES">KIDS LIMO PARTIES</a></li>
															<li><a href="SPECIALOCCASIONLIMOHIRE">SPECIAL OCCASION LIMO HIRE</a></li>
															<li><a href="ROYALASCOTLIMOHIRE">ROYAL ASCOT LIMO HIRE</a></li>
															<li><a href="ROYALASCOTLIMOHIRE">High School Dances</a></li>
															<li><a href="ROYALASCOTLIMOHIRE">Night Outs</a></li>
															<li><a href="ROYALASCOTLIMOHIRE">Holiday Light Tours</a></li>
															

														</ul>
													</a></li>
<li><a href="fleet" style="color: white; "  >FLEET
	
	<i class="icofont-rounded-down"></i></a>
<ul class="dropdown">
		
	<li><a href="fleet">4 SEATS LUXURY SEDAN</a></li>

<li><a href="fleet">6 SEATS LUXURY SUV</a></li>
<li><a href="fleet">8 to 10 SEATS LIMO</a></li>

<li><a href="fleet">13 SEATS SPRINTER VAN</a></li>
<li><a href="fleet">14 SEATS STARCH LIMO</a></li>
<li><a href="fleet">20 TO 26 SEATS PARTY BUS</a></li>
<li><a href="fleet">36 SEATS COACH BUS</a></li>
<li><a href="fleet">40 SEATS PARTY BUS</a></li>
<li><a href="fleet">55 SEATS COACH BUS</a></li>


</ul>
</a></li>

		
												
													<li><a href="reservation" style="color: white; "  >RESERVATION</a></li>
													 <li><a href="CONTACT" style="color: white; "  >CONTACT US</a></li>
													<li><a href="QUOTES" style="color: white; "  >QUOTES</a></li>
													<li><a href="OFFERS" style="color: white; "  >OFFERS</a></li>
													<div class="form-group login-btn mt-3">
														<a class="btn" 
														href="reservation" style="color:white;"
														>Book Now</a>
													</div>
		
												</ul>
											</nav>
										</div>
										<!--/ End Main Menu -->
									</div>
									
								</div>
							</div>
						</div>
					</div>
					<!--/ End Header Inner -->
				</header>
		<!-- End Header Area -->
		
		<!-- Slider Area -->
		<section class="slider">
			<div class="hero-slider">
				<!-- Start Single Slider -->
				<div class="single-slider"  style="background-image: url('{% static 'img\slid\slidwer1.png' %}')">
					
					
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image: url('{% static 'img/slider3.jpg' %}')">
					

					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h4>We Provide <span>Travel</span> Services That You Can <span>Trust!</span></h1>
									{% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p> {% endcomment %}
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Start End Slider -->
				<!-- Start Single Slider -->
	
			</div>
		</section>
		<!--/ End Slider Area -->
		
		<!-- Start Appointment -->
		<section class="appointment">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2 class="p1">"Exclusive Limo Hire Offers for Special Occasions by VIP CLASS LIMO'S."</h2>
							<p>Seize the opportunity to secure a special discount from VIP CLASS LIMO'S while it lasts. Our special offers have a limited availability and are provided on a "first come, first served" basis. These limousine hire offers are highly sought after by our customers, so prompt action is advisable if you wish to benefit from them. If you happened to miss out on any of our previous offers, we apologize for any inconvenience. To ensure you stay updated and never miss out again, consider following US Limos on Facebook and Twitter to be among the first to receive news about our upcoming limousine hire special offers.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-7 col-md-12 col-12" style="background-color: rgb(34, 34, 34); border-radius: 19px;padding-bottom: 15px">
						<div style="border-bottom: 2px solid white; padding-bottom: 15px;padding-top: 15px;">
							<h1 class="p1">Valentines Day Limo Hire Offer</h1>
						</div>
		
						<div class="appointment-image" style="">
							<img src="{% static 'img/aboutcompany1.jpg' %}" alt="#">
						</div>
		
						<div>
							<h1 class="p1">	
								A Christmas Carol 2023 LIMOUSINE SPECIAL OFFER</h1>
							<p>This offer is conditional. Follow us on Facebook to ensure you don't miss our next great offer.</p>
						</div>
						<div class="form-group login-btn">
						<a href="index">	<button class="btn" type="submit">Get Quick Quote</button></a>
						</div>
					</div>
					<div class="col-lg-1 col-md-12"></div>
					<div class="col-lg-4 col-md-12">
						<p style="text-align: justify;">
							<h3 class="p1" style="color:black;">LIMOS FOR ALL OCCASIONS</h3>
							VIP CLASS LIMO'S serve various events, such as weddings, proms, kids' parties, hen/stag nights, and exclusive sports events like Royal Ascot. Visit our Services or specific occasion pages for more details.
						</p>
						<div class="newss">
							<img src="{% static 'img/offers2.jpg' %}" style="" alt="#">
						</div>
						
						<div class="newss">
							<img src="{% static 'img/offers3.jpg' %}"  alt="#">
						</div>
						<div class="newss">
							<img src="{% static 'img/WEDDING_CAR_ HIRE.jpg' %}"  alt="#">
						</div>
					</div>
				</div>
			</div>
			
		</section>
		
		


				
		<!-- Start Contact Us -->
		
		

		<!-- Start Feautes -->
		<!--/ End Feautes -->



		
		<!-- Start Appointment -->
		
		
		
		<!-- End Appointment -->
		<section class="appointment">
			
		
		
		<!-- Footer Area -->
		<footer id="footer" class="footer " >
			<!-- Footer Top -->
			<div class="footer-top" style="background-color:#000000">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12">
							<div class="single-footer">
								<h2>WE ARE SOCIAL</h2>
								<p style="text-align: justify;">

									Follow us on Facebook and Twitter, or simply read our Blog to keep up-to-date with the latest VIP CLASS LIMO'S news, events, offers and competitions. If you like what you see here, why not tell your friends about it by sharing it on your own Facebook, Twitter or Google+ account using the social sharing links below.</p>
								<!-- Social -->
							<ul class="social">
									<a  href="https://www.facebook.com/profile.php?id=61554648922028" ><i style="margin-right: 10px; color:white;" class="fab fa-facebook-f"></i></a>
			 	
									<a  href="https://instagram.com/vipclasslimos?utm_source=qr&igshid=MzNlNGNkZWQ4Mg=="><i style="margin-right: 10px; color:white;" class="fab fa-instagram" style="color:white;"></i></a>	
									<a href="https://x.com/VipClasslimos?t=WXH-5zpcpRGoVEMV5ouYcA&s=09"><i style="margin-right: 10px; color:white;" class="fa-brands fa-x-twitter"></i></a>	  
									
								</ul>
								<!-- End Social -->
							</div>
						</div>
						
						<div class="col-lg-4 col-md-6 col-12">
							<div class="single-footer">
								<h2>CLIENT FEEDBACK</h2>
								<p>Exellent Service!</p>
								<p style="text-align: justify;">Again… Wow do you deliver! As usual, your attention to detail and service is truly exceptional. We'll be back to enjoy your fantastic limos again soon. This is truly an excellent buy.<br>
									----Bernadette Miller</p>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<div class="single-footer">
								<h2>FLEET</h2>
							
								<ul>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>LIMO HIRE FLEET</a></li>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>4-SEAT LUXURY CARS FLEET</a></li>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>8-SEAT STRETCH LIMOS</a></li>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>13-16 SEAT SUPER STRETCH LIMOS</a></li>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>12 to 14 SEAT HUMMER LIMO</a></li>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>10 to 14 SEAT SPRINTER VAN</a></li>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>10 to 36 SEAT PARTY BUSES FLEET</a></li>
									
								</ul>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Footer Top -->
			<!-- Copyright -->
			<div class="copyright" style="background-color:#000000">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<div class="copyright-content">
								<p>© 2023 VIP CLASS LIMO'S</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Copyright -->
		</footer>
		<!--/ End Footer Area -->
		
		<!-- jquery Min JS -->
        <script src="{% static 'js/jquery.min.js' %}"></script>

		<!-- jquery Migrate JS -->
		<script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
		<!-- jquery Ui JS -->
		<script src="{% static 'js/jquery-ui.min.js' %}"></script>
		<!-- Easing JS -->
        <script src="{% static 'js/easing.js' %}"></script>
		<!-- Color JS -->
		<script src="{% static 'js/colors.js' %}"></script>
		<!-- Popper JS -->
		<script src="{% static 'js/popper.min.js' %}"></script>
		<!-- Bootstrap Datepicker JS -->
		<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
		<!-- Jquery Nav JS -->
        <script src="{% static 'jjs/jquery.nav.js' %}"></script>
		<!-- Slicknav JS -->
		<script src="{% static 'js/slicknav.min.js' %}"></script>
		<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
		<script src="{% static 'js/niceselect.js' %}"></script>
		<script src="{% static 'js/tilt.jquery.min.js' %}"></script>
		<script src="{% static 'js/owl-carousel.js' %}"></script>
		<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
		<script src="{% static 'js/steller.js' %}"></script>
		<script src="{% static 'js/wow.min.js' %}"></script>
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>

    </body>
</html>