
<!doctype html>
  {% load static %}
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>VIP CLASS LIMO'S</title>
		
		<!-- Favicon -->
        <link rel="icon" width: 10px; height:10px; href="{% static 'img/logo.png' %}">
		
		<!-- Google Fonts -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- Nice Select CSS -->
		<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<!-- icofont CSS -->
        <link rel="stylesheet" href="{% static 'css/icofont.css' %}">
		<!-- Slicknav -->
		<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
		<!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
		<!-- Animate CSS -->
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
		<!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
		
		<!-- Medipro CSS -->
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
		
    </head>
	<style>
		.p1{
			font-family: "Times New Roman", Times, serif;
			color:white;
		  }
	</style>	
    <body>
	
		<!-- Preloader -->
        <div class="preloader" >
            <div class="loader" >
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator" > 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
		
<!-- Header Area -->
				<!-- Header Area -->
				<header class="header" >
					<!-- Topbar -->
					<div class="topbar" style="background-color: black;">
						<div class="container">
							<div class="row">
								<div class="col-lg-6 col-md-5 col-12">
									<!-- Contact -->
									<ul class="top-link">
										<li><a href="#" style="color: white">Call VIP CLASS LIMO'S on 
										</a></li>
										<li><a href="#" style="color: white">+1(888)383-3911</a></li>
										
									</ul>
									<!-- End Contact -->
								</div>
								<div class="col-lg-6 col-md-7 col-12">
									<!-- Top Contact -->
									<ul class="top-contact">
										<!-- <ul class="social"> -->
											<a  href="" ><i style="margin-right: 10px; color:white;" class="fab fa-facebook-f"></i></a>
						 
											
											<a  href=""><i style="margin-right: 10px; color:white;" class="fab fa-instagram" style="color:white;"></i></a>	
											<a href="vip_limo_linkedin"><i style="margin-right: 10px; color:white;" class="fab fa-linkedin" style="color:white;"></i></a>	 
											{% comment %} <li><a href="#"><i class="icofont-twitter" style="color: white"></i></a></li>
											<li><a href="#"><i class="icofont-vimeo" style="color: white"></i></a></li> {% endcomment %}
											
										<!-- </ul> -->
									</ul>
									<!-- End Top Contact -->
								</div>
							</div>
						</div>
					</div>
					<!-- End Topbar -->
					<!-- Header Inner -->
					<div class="header-inner" style="background-color: #19234D;">
						<div class="container">
							<div class="inner">
								<div class="row">
									<div class="col-lg-2 col-md-3 col-12">
										<!-- Start Logo -->
										<div class="logo">
											{% comment %} <a href=""><img style="" src="{% static 'Fleet/logo.png' %}" alt="#"></a> {% endcomment %}
		
											<a href=""><img style="height:100px;" src="{% static 'img/logo.png' %}" alt="#"></a>
										</div>
										<!-- End Logo -->
										<!-- Mobile Nav -->
										<div class="mobile-nav" ></div>
										<!-- End Mobile Nav -->
									</div>
									<div class="col-lg-10 col-md-9 col-12">
										<!-- Main Menu -->
										<div class="main-menu" >
											<nav class="navigation">
												<ul class="nav menu">
		
											<li><a href="home" style="color: white; "  >Home</a></li>
													<li><a href="limo-hire-services" style="color: white; "  >SERVICES
														<i class="icofont-rounded-down"></i></a>
														<ul class="dropdown">
															<li><a href="limo-hire-services">LIMO HIRE SERVICES</a></li>
															<li><a href="weddingcarhire">WEDDING CARS</a></li>
															<li><a href="PROMLIMO">PROM LIMOS</a></li>
															<li><a href="KIDSLIMOPARTIES">KIDS LIMO PARTIES</a></li>
															<li><a href="SPECIALOCCASIONLIMOHIRE">SPECIAL OCCASION LIMO HIRE</a></li>
															<li><a href="ROYALASCOTLIMOHIRE">ROYAL ASCOT LIMO HIRE</a></li>
															<li><a href="ROYALASCOTLIMOHIRE">High School Dances</a></li>
															<li><a href="ROYALASCOTLIMOHIRE">Night Outs</a></li>
															<li><a href="ROYALASCOTLIMOHIRE">Holiday Light Tours</a></li>
															

														</ul>
													</a></li>
<li><a href="fleet" style="color: white; "  >FLEET
	
	<i class="icofont-rounded-down"></i></a>
<ul class="dropdown">
		
	<li><a href="fleet">4 SEATS LUXURY SEDAN</a></li>

<li><a href="fleet">6 SEATS LUXURY SUV</a></li>
<li><a href="fleet">8 to 10 SEATS LIMO</a></li>

<li><a href="fleet">13 SEATS SPRINTER VAN</a></li>
<li><a href="fleet">14 SEATS STARCH LIMO</a></li>
<li><a href="fleet">20 TO 26 SEATS PARTY BUS</a></li>
<li><a href="fleet">36 SEATS COACH BUS</a></li>
<li><a href="fleet">40 SEATS PARTY BUS</a></li>
<li><a href="fleet">55 SEATS COACH BUS</a></li>


</ul>
</a></li>

		
												
													<li><a href="reservation" style="color: white; "  >RESERVATION</a></li>
													 <li><a href="CONTACT" style="color: white; "  >CONTACT US</a></li>
													<li><a href="QUOTES" style="color: white; "  >QUOTES</a></li>
													<li><a href="OFFERS" style="color: white; "  >OFFERS</a></li>
													<div class="form-group login-btn mt-3">
														<a class="btn" 
														href="reservation" style="color:white;"
														>Book Now</a>
													</div>
		
												</ul>
											</nav>
										</div>
										<!--/ End Main Menu -->
									</div>
									
								</div>
							</div>
						</div>
					</div>
					<!--/ End Header Inner -->
				</header>
		<!-- End Header Area -->
		
		<!-- Slider Area -->
		<section class="slider">
			<div class="hero-slider">
				<!-- Start Single Slider -->
				<div class="single-slider"  style="background-image: url('{% static 'img\slid\slidwer1.png' %}')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image: url('{% static 'img/slider3.jpg' %}')">
					

					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h4>We Provide <span>Travel</span> Services That You Can <span>Trust!</span></h1>
									{% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p> {% endcomment %}
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Start End Slider -->
				<!-- Start Single Slider -->
	
			</div>
		</section><br>
		<!--/ End Slider Area -->
		
				


				
		<!-- Start Contact Us -->
		
		

		<!-- Start Feautes -->
		<section class="Feautes section" style="background-color: white;">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title mt-5">
							<h2 class="p1" style="color:black;">VIP CLASS LIMO'S HIRE: VIP CLASS LIMO'S HAVE PROBABLY THE BEST RANGE OF CHAUFFEUR-DRIVEN LUXURY LIMOS IN THE US</h2>
							

					</div>
				</div>
				
			</div>
		</section>
		<!--/ End Feautes -->
		<section class="appointment">
			<div class="container">

				<div class="row">
					<div class="col-lg-6 col-md-12 col-12" style="">
						<div >
							<h2 class="p1" style="color:black;">REQUEST A LIMO HIRE QUOTE</h2><br>
						</div>
						
							<div class="appointment-image">
								<img src="{% static 'img/aboutcompany1.jpg' %}" alt="#">
							</div>
					
						
		

					</div>
					<div class="col-lg-6 col-md-12">
						<h2 class="p1" style="text-align: justify; color:black";>
							CONTACTING VIP CLASS LIMO'S
						</h2>
						
						<br>
						<p>
							If you require an expedited limousine hire quotation or have any inquiries of a general nature regarding limousine hire or the process of obtaining a limousine hire quote, please do not hesitate to contact us using the following contact information:<br>

							For inquiries regarding limousine hire quotes, whether for a luxurious stretch limo, chauffeured car, or a party bus, please contact VIP CLASS LIMO'S at +1(888)383-3911. Alternatively, you can swiftly get in touch with us by utilizing the "Request a Limo Hire Quote!" online enquiry form. General inquiries can be directed to Info@vipclasslimos.com or submitted through our CONTACT page. Should you prefer traditional correspondence, our mailing address is also available for your convenience:
						</p>
						<br>
						{% comment %} <h3 style="color:rgb(107,139,202)";>FREE BUBBLY WITH EVERY LIMO</h3>	<br> {% endcomment %}

						<br>
						<h3 class="p1" style="color:black;">FOLLOW US ON FACEBOOK
						</h3>	<br>
						<p>Please feel free to reach out to us with any questions or comments. We also invite you to connect with us on Facebook. If you find our content appealing, we appreciate your support in sharing it.</P>
							<a  href="" ><i style="margin-right: 10px; color:blue;" class="fab fa-facebook-f"></i></a>
			 	

						</div>
					</div>
				</div>
			</div>
			
		</section>


		
		<!-- Start Appointment -->
		
		
		
		<section class="appointment">
			
		
		
		<!-- Footer Area -->
		<footer id="footer" class="footer " >
			<!-- Footer Top -->
			<div class="footer-top" style="background-color:#000000">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12">
							<div class="single-footer">
								<h2>WE ARE SOCIAL</h2>
								<p style="text-align: justify;">

									Follow us on Facebook and Twitter, or simply read our Blog to keep up-to-date with the latest VIP CLASS LIMO'S news, events, offers and competitions. If you like what you see here, why not tell your friends about it by sharing it on your own Facebook, Twitter or Google+ account using the social sharing links below.</p>
								<!-- Social -->
								<ul class="social">
									<a  href="" ><i style="margin-right: 10px; color:white;" class="fab fa-facebook-f"></i></a>
			 	
									<a  href=""><i style="margin-right: 10px; color:white;" class="fab fa-instagram" style="color:white;"></i></a>	
									<a href=""><i style="margin-right: 10px; color:white;" class="fab fa-linkedin" style="color:white;"></i></a>	  
									
								</ul>
								<!-- End Social -->
							</div>
						</div>
						
						<div class="col-lg-4 col-md-6 col-12">
							<div class="single-footer">
								<h2>CLIENT FEEDBACK</h2>
								<p>Exellent Service!</p>
								<p style="text-align: justify;">Again… Wow do you deliver! As usual, your attention to detail and service is truly exceptional. We'll be back to enjoy your fantastic limos again soon. This is truly an excellent buy.<br>
									----Bernadette Miller</p>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<div class="single-footer">
								<h2>FLEET</h2>
							
								<ul>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>LIMO HIRE FLEET</a></li>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>4-SEAT LUXURY CARS FLEET</a></li>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>8-SEAT STRETCH LIMOS</a></li>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>13-16 SEAT SUPER STRETCH LIMOS</a></li>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>12 to 14 SEAT HUMMER LIMO</a></li>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>10 to 14 SEAT SPRINTER VAN</a></li>
									<li><a href="#" style="color:#114DBC;"><i class="fa fa-caret-right" aria-hidden="true"></i>10 to 36 SEAT PARTY BUSES FLEET</a></li>
									
								</ul>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Footer Top -->
			<!-- Copyright -->
			<div class="copyright" style="background-color:#000000">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<div class="copyright-content">
								<p>© 2023 VIP CLASS LIMO'S</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Copyright -->
		</footer>
		<!--/ End Footer Area -->
		
		<!-- jquery Min JS -->
        <script src="{% static 'js/jquery.min.js' %}"></script>

		<!-- jquery Migrate JS -->
		<script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
		<!-- jquery Ui JS -->
		<script src="{% static 'js/jquery-ui.min.js' %}"></script>
		<!-- Easing JS -->
        <script src="{% static 'js/easing.js' %}"></script>
		<!-- Color JS -->
		<script src="{% static 'js/colors.js' %}"></script>
		<!-- Popper JS -->
		<script src="{% static 'js/popper.min.js' %}"></script>
		<!-- Bootstrap Datepicker JS -->
		<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
		<!-- Jquery Nav JS -->
        <script src="{% static 'jjs/jquery.nav.js' %}"></script>
		<!-- Slicknav JS -->
		<script src="{% static 'js/slicknav.min.js' %}"></script>
		<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
		<script src="{% static 'js/niceselect.js' %}"></script>
		<script src="{% static 'js/tilt.jquery.min.js' %}"></script>
		<script src="{% static 'js/owl-carousel.js' %}"></script>
		<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
		<script src="{% static 'js/steller.js' %}"></script>
		<script src="{% static 'js/wow.min.js' %}"></script>
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>

    </body>
</html>